html * {
  font-family:          "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
  list-style-type:      none;
}

button {
	font-size:            75%;
	line-height:          1.5em;
}

code {
  font:                 normal normal normal 80%/1.2em "Lucida Console", "Monaco", monospace;
}

em {
  font-style:           italic;
}

h1 {
  font-size:            155%;
}

h2 {
	font-size:            95%;
}

h3 {
  line-height:          1.2em;
}

h3 a {
  text-decoration:      none;
}

h3, h3 a, h3 a:visited {
  font-size:            15px;
}

h4, h4 a, h4 a:visited {
  font-size:            95%;
  font-weight:          lighter;
  letter-spacing:       0.05em;
  text-decoration:      none;
}

h5 {
  font-size:            75%;
}

input, textarea {
  font-size:            93%;
  line-height:          1.2em;
}

label {
  font-size:            75%;
  line-height:          1.2em;
  text-align:           right;
}

p code {
  font-size:            110%;
}

p, li, dd, dt {
  font-size:            75%;
  font-weight:          normal;
  line-height:          1.7em;
}

strong {
  font-weight:          bold;
}

.application #main_content ul li {
  list-style-type:      disc;
}

.go_to_checkout {
  font-size:            80%;
  line-height:          1.2em;
  text-align:           right;
}

.pages {
  font-size:            75%;
  text-align:           right;
}

.pages a {
  letter-spacing:       0.1em;
  line-height:          1em;
  text-decoration:      none;
  word-spacing:         .5em;
}

.pages strong {
  font-size:            150%;
  font-weight:          bold;
}

.text cite {
  text-align:           right;
}

.text dt {
  float:                left;
}

.text td {
  font-size:            85%;
}

.text td a, .text td code {
  white-space:          nowrap;
}

.text td span {
  font-size:            82%;
}

.text th {
  font-size:            90%;
}

#all_pictures li a, #cart_items a, #selected_pictures a {
  text-align:           center;
}

#back_to_gallery a {
  text-decoration:      none;
}

#big_picture a, #big_video a {
  font-size:75%;
  text-align:           center;
}

#big_picture img {
  font-size:            125%;
  line-height:          1.5em;
  text-align:           center;
}

#big_picture label, #big_video label {
  font-size:            140%;
  letter-spacing:       -.05em;
  text-align:           center;
}

#big_picture, #big_video, #back_to_gallery, #wait_message {
  text-align:           center;
}

#big_video label span {
  font-size:            55%;
}

#big_video object *, .text #main_content dd, .text #main_content ul li {
  text-align:           justify;
}

#big_video object a, #thumbnails label {
  font-size:            100%;
}

#big_video object h1 {
  text-align:          left;
}

#big_video object p {
  font-size:            90%;
  line-height:          1.75em;
}

#data_sheet dl * {
  font-size:            100%;
  line-height:          1.4em;
  text-decoration:      none;
}

#data_sheet dt {
  font-weight:          bold;
  text-indent:          2em;
}

#data_sheet h2 {
  font-size:            120%;
}

#data_sheet li {
  font-weight:          bold;
  line-height:         2em;
}

#facebox a {
  font-size:           80%;
  text-align:           right;
  text-transform:      uppercase;
}

#footer a {
  text-decoration:      none;
}

#footer h6 {
  font-size:            70%;
}

#footer * {
  line-height:         1.25em;
  text-align:           right;
}

#go_back_to_thumbnails {
  text-decoration:      none;
}

#go_to_gallery {
  text-decoration:      none;
}

#header h1#logo_screen {
  letter-spacing:       0.02em;
  text-align:           center;
}

#header h1 a, #header h1 img {
  font-size:           90%;
  word-spacing:        0.2em;
  text-decoration:      none;
}

#header li {
	font-size:            100%;
	letter-spacing:       0.01em;
	line-height:          1em;
}

#header li a {
  font-size:            100%;
  text-decoration:      none;
  text-transform:       lowercase;
}

#search #query {
  line-height:          1.2em;
  text-indent:          .2em;
}

#see_data_sheet {
  text-decoration:      none;
}

#selection_size label {
	font-size:            110%;
}

#go_to_selection a {
  line-height:          1.4em;
}

#submit_error, #submit_success {
  line-height:          1.5em;
  text-align:           center;
}

#summary #see_data_sheet {
  line-height:         2.5em;
  text-transform:       uppercase;
}

#picture_description p {
  font-size:            70%;
  text-align:           center;
}

#tags p {
  line-height:         .5em;
}

#tags p, #tags a {
  text-decoration:      none;
}

#thumbnails label, #all_pictures label, #cart_items label, #selected_pictures label {
  line-height:          1.3em;
}

#valid_search_suggestions li {
  font-size:           90%;
  line-height:          1.4em;
}

.text #main_content strong {
  font-weight:          normal;
}

.text #main_content ul li {
  list-style:           circle;
}

.text #main_content ul ul li {
  font-size:            95%;
  list-style:           disc;
}

body#checkout #order_form p, 
body#pictures_sent #order_form p {
  font-size:            90%;
  line-height:         2.5em;
  text-align:           center;
}

body#checkout #selection_size label, body#search #search_result_count label {
  font-size:            110%;
  font-weight:          bold;
}

body#selection #selection_size, body#selection #selection_size label {
  font-size:           100%;
  font-weight:         bold;
  line-height:         2em;
}

h2#slogan {
  font-size:            85%;
  font-weight:          lighter;
}

p#not_found, .application #main_content h2 {
  font-size:           95%;
  line-height:          1.7em;
  text-align:           center;
}

#thumbnails li div a {
  font-size:            80%;
  text-decoration:      none;
  text-align:           center;
}

#thumbnails li, #thumbnails a img, .text td a {
  font-size:            80%;
}

#all_pictures a:hover, #cart_items a:hover, #selected_pictures a:hover {
  font-size:            0;
}

#back_to_gallery a:hover {
  text-decoration:     none;
}

#go_back_to_thumbnails:hover {
  text-decoration:     none;
}

#header h1 a, h1 a:visited, .pages a:hover, .pages a.previous:hover, .pages a.next:hover, #tags a:hover, #go_to_selection a, #all_pictures a, #cart_items a, #selected_pictures a {
  text-decoration:      none;
}

#see_data_sheet:hover {
  text-decoration:      none;
}

#selected_pictures a.remove_picture:hover {
/*  font-size:            inherit;*/
}

.application #main_content ul li a, .application #main_content ul li a:visited, #valid_search_suggestions a, #go_to_selection a:link, #go_to_selection a:visited, .go_to_checkout a {
  text-decoration:     none;
}

.application #main_content ul li a:hover, #valid_search_suggestions a:hover, .go_to_checkout a:hover {
  text-decoration:     none;
}