html * {
	padding:                0;
	border:                 none;
	margin:                 0;
}

body {
  width:                  62.5em;
	margin:                 auto;
}

#header, #main_content, #footer {
  padding-right:          3.9em;
  padding-left:           3.9em;
}

hr, .emtpy, .empty, 
#thumbnails li.empty, 
#selected_pictures li.empty {
	display:                block;
	float:                  none;
	height:                 0;
	padding:                0;
	margin:                 0;
	clear:                  both;
	visibility:             hidden;
}

a {
	outline:                none;
}


/* Header tabbed menu */
#header {
  min-height:             38px;
  height:                 117px;
  padding-bottom:         0;
  position:               relative;
}

#header h1#logo_print {
  display:                none;
}

#header h1#logo_screen {
	margin:									0;
	margin-top:							35px;
	width:                  200px;
	height:                 40px;
	overflow:               hidden;
	float:left;
}

#header h2#slogan {
	float:left;
	margin-right:49em
}

#header ul {
  height:                 1.4em;
  margin-left:            0px;
  position:               absolute;
  right:                  0px;
  bottom:                 28px !important;
  left:                   24em;
  overflow:               hidden;
}

#header li {
  display:                inline;
  padding:                .5em 0 0em 0;
  position:               relative;
  top:                    0em;
	letter-spacing:0.01em;
}

#header li a {
  padding:                .5em .65em 0em 0.35em;
}
/* /Header tabbed menu */


/* Main content top segment */
#main_content {
	padding:                3em 3.9em;
	min-height: 600px
}



#subnavigation {
	padding:                0;
	margin:                 -1.85em 0 .3em 0;
}

#subnavigation a {
  margin-right:           2.5em;
}

#subnavigation a, #see_data_sheet a {
	color:#7b7ba4;
	padding-left:           20px;
}

#subnavigation a:hover, #see_data_sheet a:hover {
	color:#8585cc;
	padding-left:           20px;
}

h1 {
	margin-bottom:          .7em;
}

body#selection h1 {
	float:                  left;
}

/* /Main content top segment */


/* Thumbnails */
ul#thumbnails li {
	float:                  left;
	width:                  250px;
	margin:                 1em 1.5em 4em 1.6em !important;
}

ul#thumbnails li div {
	position:               relative;
}

/* Vertically centering images 
(conditional comments for IE required) */
ul#thumbnails li div a {
	display:                table-cell;
	width:                  250px;
	height:                 250px;
	vertical-align:         middle;
}
ul#thumbnails li div img {
	vertical-align:         middle;
}

ul#thumbnails li div a label {
	width:                  auto;
	position:               absolute;
	bottom:                 3px;
	left:                   6px;
}


body.videos #thumbnails h3 {
	height:                 3.0em;

}

body.videos #thumbnails img {
  width:                  240px;
}
/* /Thumbnails */


/* Summary */
#summary, #about_us, #data_sheet, .error_hints {
	padding:                .65em 7.5em;
	border:                 3px double;
  margin-bottom:          10px;
}

#summary {
	min-height:             4.5em;
	height:                 auto !important;
	height:                 4.5em;
	padding-right:          20em;
	position:               relative;
	clear:                  both;
}
/* /Summary */


/* Link to Selection */
#select_pictures a {
	width:                  7em;
	height:                 6em;
	padding-left:           85px;
	position:               absolute;
	top:                    1em;
	right:                  8em;
}
/* /Link to Selection */


/* Paging */
.pages {
  padding:                1px 20px 3px 20px;
  margin:                 5px 0;
  border:                 3px double;
  clear:                  both;
}

.pages a, .pages strong {
  padding: 0 .25em;
}

.pages strong {
	position:               relative;
	top:                    .15em;
}

.pages a.previous {
  padding-left:           15px;
}

.pages a.next {
  padding-right:          15px;
}

.second {
  position:               relative;
  bottom:                 35px;
}
/* /Paging */


/* Data sheet */
#data_sheet {
	padding-top:            0;
	padding-bottom:         1.5em;
	clear:                  both;
}

#data_sheet h2 {
  margin:                 1.5em 0 1em 0;
}

#data_sheet dt {
	float:                  left;
	clear:                  left;
  margin-right:           .5em;
}
/* /Data sheet */


/* Big picture, big video */
#big_picture, #big_video {
	width:                  54.5em;
	min-height:             33.25em;
	height:                 auto !important;
	height:                 33.25em;
	margin-bottom:          1em;
	position:               relative;
}

#big_picture a, #big_video a {
	width:                  4.75em;
  position:               absolute;
	top:                    18em;
}

#big_picture #previous, #big_video #previous {
	left:                   -2.5em;
}
#big_picture #next, #big_video #next {
	right:                  -2.5em;
}

#big_picture a span, #big_video a span {
	width:                  101%;
	height:                 60px;
	position:               absolute;
}

#big_picture img {
  padding:                2px;
  border:1px solid #4a4a5f
}

#big_picture label {
	width:                  13%;
	padding:                3px;
	position:               absolute;
	bottom:                 5px;
	border-top:#4a4a5f 1px solid;
	border-right:#4a4a5f 1px solid;
	border-left:#4a4a5f 1px solid;
	right:                  43.5%;
	left:                   43.5%;
}

#big_video object p {
  margin:                 1.5em 10em;
}

#big_video label {
  display:                block;
  margin:                 .25em auto 0 auto;
  width:                  auto;
}

#big_video label span {
  display:                block;
}

#big_video object a {
  position:               static;
}
/* /Big picture, big video */


/* Tags */
#tags {
  margin:                 .6em 0;
}

#tags h3 {
	color:#d3d3d3;
	padding: 1px 4px 1px 4px;
	display:                inline;
	margin-right:           .7em;
}

#tags p, #tags a {
	display:                inline;
  margin-right:           .7em;
  text-decoration:none
}
/* /Tags */


/* Selection */
#all_pictures {
	float:                  left;
	width:                  31em;
	margin-top:             .5em;
	margin-bottom:          -3.5em;
	position:               relative;
	z-index:                3;
}

#cart_items {
  width:                  20.25em;
	min-height:             405px;
	height:                 25.3em;
	border:                 1px solid;
	margin-top:             .75em;
	margin-left:            34.35em;
	position:               relative;
	z-index:                2;
}

#all_pictures li, #cart_items li, #selected_pictures li {
	float:                  left;
	width:                  75px;
	height:                 75px;
	margin:                 3px;
	position:               relative;
}

#all_pictures li label, #cart_items label, #selected_pictures label {
	width:                  auto;
	padding:                1px 3px;
	margin:                 0;
	position:               absolute;
	bottom:                 1px;	
}

#all_pictures li a, #cart_items a, #selected_pictures a {
	width:                  17px;
	text-align:center;
	height:20px;
	margin:                 0;
	position:               absolute;
	bottom:                 1px;	
}



#all_pictures label, #cart_items label, 
#selected_pictures label {
	left:                   1px;
}

#all_pictures a, #cart_items a, 
#selected_pictures a {
	right:                  1px;
}

#all_pictures a:hover, 
#cart_items a:hover, 
#selected_pictures a:hover {
	width:                  17px;
	height:                 20px;
}

#selected_pictures a.remove_picture {
	padding:                0;
	position:               static;
}

.cart-active, .move {
	cursor:                 move;
}

body#selection #selection_size {
	float:                  right;
	margin-right:           -23.55em;
	position:               relative;
	top:                    .5em;
	right:                  38.4em;
	z-index:                1;
}

body#selection #selection_size label {
	display:                inline;
	padding:                .34em 1.5em .35em .8em;
	margin-left:            3em;
	visibility:             visible;
}

body#checkout #selection_size {
  margin-bottom:          20px;
}
body#checkout #selection_size label, 
body#search #search_result_count label {
  display:                inline;
  margin:                 0;
}

.go_to_checkout {
	min-height:             40px;
	height:                 auto !important;
	height:                 2.5em;
 	padding:                15px 75px 0 0;
  margin:                 .5em 0 -.6em 40em;
}

#first.go_to_checkout {
	position:               relative;
	bottom:                 1.2em;
}

#back_to_gallery a {
	color:#7b7ba4;
	text-decoration:none;
	display:                block;
	margin:                 1.5em 0;
}

#back_to_gallery a:hover {
	color:#8585cc;
	text-decoration:none;
	display:                block;
	margin:                 1.5em 0;
}
/* /Selection */


/* Forms (contact, checkout, search) */
label {
	display:                block;
	width:                  29%;
	margin-top:             .2em;
	margin-right:           1em;
}

input, textarea {
	display:                block;
	width:                  40%;
	padding:                0 .3em;
	border:                 1px inset;
  margin:                 -1.25em 0 .75em 18em;
}

input:hover, textarea:hover {
	border:                 1px solid;
}

button {
	display:                block;
  padding:                .2em .5em;
	border:                 1px outset;
  margin:                 auto;
}
button:active {
	border-style:           inset;
}

.submitting {
  padding-right:          2.5em;
	position:               relative;
	left:                   1em;
}
.submitting:active {
	border-style:           outset;
}

button * {
	outline:                none;
}

#submit_error, #submit_success {
	padding:                .5em 8em;
	margin-bottom:          1em;
}

/* Specific for checkout e-mail form */
body#checkout #order_form p {
  padding-left:            1.75em;
}

/* Specific for global search form */
#global_search {
	width:                  7.5em;
	padding-left:           25px;
	position:               absolute;
	top:                    2.5em;
	right:                  1.85em;
}

#global_search fieldset {
	padding-right:          10px;
}

#global_search #search_type {
	display:                none;
}

#global_search #query {
	width:                  100%;
	height:                 1.22em;
	padding:                0;
	border:                 none;
	border-top:             1px solid;
	border-bottom:          1px solid;
  margin:                 0;
}
/* /Forms (contact, checkout, search) */


/* Errors (404, 500, timeout, empty search results) */
p#not_found {
  margin:                 2em 0 -2em 0;
	position:               relative;
	z-index:                1;
}
	
.error_description {
	color:#ffc600;
	padding-top:            210px;
  margin:                 0 0 2em 0;
}

.error_description p{
	color:#ffc600;
}

.error_hints {
	margin-top:             .5em;
}

#valid_search_suggestions {
	padding-left:           23em;
	margin-top:             1.2em;
}
/* /Errors (404, 500, timeout, empty search results) */


/* Facebox */
#facebox {
	position:               absolute;
	top:                    5em;
	z-index:                100;
}
body > #facebox {
	right:                  0;
	left:                   0;
}

#facebox div {
	min-width:              50px;
	width:                  50px;
	padding-top:            10px;
  margin:                 auto;
}
#facebox > div {
	width:                  auto;
	display:                table;
}

#facebox p {
	padding:                0 0 0 18px;
	background-position:    bottom left;
	position:               relative;
}

#facebox a {
	padding:                15px 18px 0 0;
	background-position:    top right;
	outline:                none;
	position:               absolute;
	top:                    -10px;
	right:                  0;
}
#facebox p > a {
	left:                   10px;
}

#facebox img {
	padding:                20px 18px 18px 0;
	background-position:    bottom right;
	margin-bottom:          -3px;
}
#facebox p > img {
	margin-bottom:          -6px;
}
*:first-child + html #facebox img {
	margin-bottom:          -3px;
}
/* /Facebox */


/* Footer */
#footer {
  padding:                2.1em 3.9em;
	margin-bottom:          2em;
}

#footer p {
	margin-bottom:          .5em;
}
/* /Footer */


/* Text */
.text #main_content {
  padding-right:          200px;
  padding-left:           200px;
}

.text #main_content p {
  margin:                 1em 0;
}

.text #main_content h1, 
.text #main_content h2, 
.text #main_content h3 {
  margin-right:           -138px;
  margin-left:            -138px; 
}

.text #main_content h2 {
  clear:                  left;
  padding:                1.5em 0 1em 0;
}

.text #main_content h3 {
  padding:                1em 0 .75em 0;
}

.text #main_content h4 {
  margin-top:             -.8em;
}

.text #main_content dl, 
.text #main_content ul {
  margin:                 1.6em 6em;
}

.text dt {
  float:                  left;
  margin-right:           .5em;
}

.text #main_content dd {
  margin:                 0 0 1em 2.5em;
}

.text #main_content ul li {
  margin-bottom:          1em;
}

.text #main_content ul ul {
  margin:                 0 1em;
}

.text #main_content cite {
  display:                block;
}

.text #toc {
  float:                  left;
  padding:                .75em .75em .75em 1.5em;
  border:                 1px solid;
  margin:                 0 2em 1em 0 !important;
}

.text table {
  border-collapse:        collapse;
  margin:                 auto;
}

.text table * {
  border:                 1px solid;
}

.text th {
  padding:                .5em 1.5em;
}

.text td {
  padding:                .5em 1.5em;
}

.text td span {
  display:                block;
  border:                 none;
  margin:                 0 1.5em;
}

.text td a, 
.text td code {
  border:                 none;
  margin:                 0 -1em;
  white-space:            nowrap;
}

.text td code {
  display:                block;
  margin-top:             .75em;
}

pre {
  padding:                .5em 3em;
  border:                 1px solid;
  margin:                 1em 0;
  overflow:               auto;
}

code {
  padding:                .3em .5em;
}
/* /Text */