/* Cores:
#111    - Cinza quase preto (ou pouco mais escuro que #16161F) (html; input, textarea) (pode ser dominante sobre #000)
#DBDBDB - Cinza claro (parecido com # , #D7D7D9, #CACACA) (html *, label) <<-- IMPORTANTE! Só um seletor, mas se aplica a tudo! Não subestimar! (pode ser dominante)
#9E9EE7 - Azul lavanda claro para médio (button)
#33335A - Azul marinho (button; .submitting, .submitting:hover)
#424273 - Azul marinho claro (parecido com #404070) (border-color de: button; .submitting, .submitting:hover) (pode ser dominante)
#B6B6FF - Azul lavanda claro (parecido com #A7A7F9) (button:hover)
#404070 - Azul marinho claro (parecido com #424273) (background-color de: button:hover) (extinto por #424273)
#ABABC3- Cinza azulado claro (parecido com #A5A5CB) (color de: h2; h3; #header h2#slogan)
#F498DA - Rosa vivo claro (cor de: h3, h3 a, h3 a:visited; #data_sheet dl a, #searched_item, .text dt, .text #main_content strong; #header li.current a; 
                          .submitting, .submitting:hover)
#EF72CC - Rosa vivo médio (h3, h3 a:hover, a:focus, #data_sheet dl a:hover; #header li a:active)

#6C6CB1 - Azul lavanda escuro (h4, h4 a, h4 a:visited)
#7676DC - Azul lavanda médio (parecido com #8585CC) (h4 a:focus, h4 a:hover)
#CCC    - Cinza claro para médio (levemente mais escuro que !#DBDBDB, #D9D9D9, #D3D3D3 e #D7D7D9) (input, textarea)
#2A7B8E - Azul piscina escuro (color de: .pages a) (cor bonita, mas fica bizarra onde está)
#D9D9D9 - Cinza claro (parecido com !#DBDBDB e #D7D7D9) (.pages strong; #thumbnails label)
#16161F - Cinza azulado quase preto (parecido com #17171F e pouco mais claro que #111) (#toc, pre; code, .text th; .text table *)
#292938 - Azul marinho escuro (#main_content)
#7B7BA4 - Azul lavanda escuro desbotado (parecido com #7575A8, #6D6DA2 e #7C7C9E) (usado só em color; pode ser predominante em relação aos três)
#6849C1 - Azul lavanda médio para escuro (#big_picture img)
#4A4A5F - Cinza azulado escuro (parecido com #48485E e #44445D) (#big_picture img; #big_picture label)

#D3D3D3 - Cinza claro (ligeiramente mais escuro que !#DBDBDB, #D9D9D9 ou #D7D7D9) (#big_picture label; #tags h3)
#5C5C79 - Cinza azulado médio (#cart_items; #all_pictures a:hover, #cart_items a:hover, #selected_pictures a:hover)
#48485E - Cinza azulado escuro (parecido com #4A4A5F e #44445D) (background-color de: #cart_items.instructions)
#3B3B48 - Cinza azulado escuro principal (parecido com #383849 e #333344) (borders: #header; #main_content; #main_content h1; #footer; pre, #toc)
          (pode ser dominante sobre #383849 e #333344)
#7575A8 - Azul lavanda escuro desbotado (parecido com #7B7BA4 e #06D6DA2) (#footer a) (extinto por #7B7BA4)
#A5A5CB - Cinza azulado claro (parecido com #ABABC3) (color de: #footer p, #footer h6, #footer strong; #global_search #query)
#181831 - Azul quase preto (#global_search #query)
#6D6DA2 - Azul lavanda escuro desbotado (parecido com #7B7BA4 e #7575A8, mas menos desbotado) (#header li a; #header li a:visited)
#D7D7D9 - (#main_content h1) (parecido com !#DBDBDB e #D9D9D9, e ligeiramente mais claro que #D3D3D3)
#F88181 - Rosa avermelhado claro (background-color de: #submit_error; .email_field_with_errors, .email_field_with_errors:hover, .email_field_with_errors:focus)

#A31212 - Vermelho escuro (border-color de: #submit_error)
#770000 - Vermelho escuro quase vinho (color de: #submit_error)
#FAEFB3 - Amarelo quase branco (background-color de: #submit_success)
#FFCC66 - Amarelo claro (border-color de:#submit_success)
#CC6600 - Amarelo escuro alaranjado (color de: #submit_success)
#17171F - Cinza azulado quase preto (parecido com #16161F e pouco mais claro que #111) (#summary, #about_us, #data_sheet, .application #main_content ul, .pages)
          (pode ser dominante sobre #16161F)
#383849 - Cinza azulado escuro principal (parecido com #3B3B48) (background de: #thumbnails label)
#8585CC - Azul lavanda médio desbotado (parecido com #7676DC) (color de: #back_to_gallery a:hover; #go_to_selection a:hover; #subnavigation a:hover, #see_data_sheet a:hover; #summary a:hover; .application #main_content ul li a:hover, #valid_search_suggestions a:hover, .go_to_checkout a:hover) (pode ser dominante sobre #7676DC)
#9898D2 - Azul lavanda médio mais desbotado (#footer a:hover)
#A7A7F9 - Azul lavanda claro (parecido com #B6B6FF) (#header li a:hover, #header li.current a:hover) (pode ser dominante sobre #B6B6FF)

#7C7C9E - Azul lavanda escuro desbotado (parecido com #7B7BA4 e #7575A8) (#tags a, #tags a:visited)
#44445D - Cinza azulado escuro (parecido com #4A4A5F, #48485E e #4A4A63) (background de: #tags a:hover) (pode ser dominante sobre os três)
#AF464A - Rosa avermelhado escuro (border-color de: .email_field_with_errors, .email_field_with_errors:hover, .email_field_with_errors:focus)
#333344 - Cinza azulado escuro principal (parecido com #3B3B38) (background-color de: .pages a, .pages a:visited, .pages a.previous:visited, .pages a.next:visited, .pages a.previous, .pages a.next; .pages a.previous:hover) (pode ser substituído por #3B3B48)
#CACACA - Cinza claro (parecio com #DBDBDB) (color de: .pages [various links]) (vai ser extinto por #DBDBDB)
#4A4A63 - Cinza azulado escuro (parecido com #4A4A5F) (background-color de: .pages a.next:hover, .pages a:hover) (vai ser extinto por #44445D)
#D587EF - Lilás (color de: #header li a:active) (extinto por #EF72CC)
#000    - Preto (vai ser extinto por #111)
#FFF    - Branco
*/

html {
  background:             #111 url(../images/site_hatching.gif) repeat-x left top;
}

html *, label {
  color:                  #DBDBDB;
}

button {
  color:                  #A7A7F9;
  background-color:       #33335A;
  border-color:           #424273;
}

button:hover {
  background-color:       #424273;
}

h2 {
  color:                  #A5A5CB;
}

h3 {
  color:                  #A5A5CB;
}


h4, h4 a, h4 a:visited {
  color:                  #7B7BA4;
}

h4 a:focus, h4 a:hover {
  color:                  #8585CC;
}

input, textarea {
  color:                  #111;
  background:             #FFF;
  border-color:           #DBDBDB;
}

input:hover, textarea:hover {
  background:             #FFF;
  border-color:           #111;
}

input:active, input:focus, textarea:active, textarea:focus {
  background:             #FFF url(../images/input_hover.gif) repeat-x top;
  border-color:           #111;
}

.application #main_content h2 {
  background:             url(../images/error_404.gif) no-repeat center;
}

.application#server_error #main_content h2 {
  background-image:       url(../images/error_500.gif);
}

.application#timeout #main_content h2 {
  background-image:       url(../images/error_timeout.gif);
}

.go_to_checkout {
  background:             transparent url(../images/shopping_cart.gif) no-repeat right center;
}

.moved_to_cart {
  opacity:                .3;
}

.pages strong {
  color:                  #111;
  background:             #DBDBDB;
}

.text table * {
  border-color:           #17171F;
}

.text td span {
  color:                  #888;
}

code, .text th {
  color:                  #DBDBDB;
  background:             #17171F;
}

#all_pictures label, #cart_items label, #selected_pictures label {
  color:                  #FFF;
}

#all_pictures li label, #all_pictures li a, #cart_items label, #cart_items a, #selected_pictures label, #selected_pictures a {
  background-color:       #292938;
}

#back_to_gallery a {
  color:                  #7B7BA4;
}

#big_picture #next span, #big_video #next span {
  background:             transparent url(../images/arrow_next.gif) no-repeat center left;
}

#big_picture a span, #big_video span {
  background:             transparent url(../images/arrow_previous.gif) no-repeat center right;
}


#big_picture label {
  background:             #292938;
  border-color:           #44445D;
}

#cart_items {
  background-color:       #292938;
  border-color:           #5C5C79;
}

#cart_items.instructions {
  background:             #44445D url(../images/selection_instructions.png) no-repeat center;
}

#data_sheet li {
  color:                  #FFF;
}

#facebox * {
  background:             transparent url(../images/facebox_bg.gif) top left;
}

#facebox a {
  color:                  #111;
  background-position:    top right;
}

#facebox img {
  background-position:    bottom right;
}

#facebox p {
  background-position:    bottom left;
}

#footer {
	background:             #292938 url(../images/footer.gif) repeat-x scroll center;
	border-color:           #3B3B48;
}

#footer a {
  color:                  #7B7BA4;
}

#footer p, #footer h6, #footer strong {
  color:                  #A5A5CB;
}

#global_search {
  background:             transparent url(../images/search_corner_left.gif) no-repeat left center;
}

#global_search #query {
  color:                  #A5A5CB;
  background:             #181831;
  border-color:           #181831;
}

#global_search fieldset {
  background:             transparent url(../images/search_corner_right.gif) no-repeat right center;
}

#go_back_to_thumbnails {
  background:             transparent url(../images/arrow_left.gif) no-repeat left center;
}

#go_to_gallery {
  background:             transparent url(../images/gallery_album.gif) no-repeat left center;
}

#header {
  background:             url(../images/header_shading.png) top;
  border-bottom-color:    #3B3B48;
}

#header h2#slogan {
  color:                  #A5A5CB;
}

#main_content {
  background:             #292938;
  border-right-color:     #3B3B48;
  border-left-color:      #3B3B48;
}

#main_content h1 {
  border-bottom-color:    #3B3B48;
}

#see_data_sheet {
  background:             transparent url(../images/arrow_down.gif) no-repeat left center;
}

#go_to_selection a {
  background:             url(../images/select_pictures.gif) no-repeat top left;
}

#submit_error {
  color:                  #770000;
  background-color:       #F88181;
  border-color:           #770000;
}

#submit_success {
  color:                  #CC6600;
  background-color:       #FAEFB3;
  border-color:           #CC6600;
}

#subnavigation a, #see_data_sheet a {
  color:                  #7B7BA4;
}

#summary, #about_us, #data_sheet, .application #main_content ul, .pages {
  background:             #17171F;
  border-color:           #111;
}

#picture_description p {
  color:                  #111;
}

#tags h3 {
  color:                  #DBDBDB;
}

body#selection #selection_size {
  color:                  #292938;
}

body#selection #selection_size label {
  background:             url(../images/tab_selection_size.gif) no-repeat left center;
}

pre, #toc {
  background:             #17171F;
  border-color:           #3B3B48;
}

#thumbnails label {
  background:             #3B3B48;
}

#thumbnails li div a {
  background:             url(../images/thumbnail_box.gif);
}

#all_pictures a:hover, #cart_items a:hover, #selected_pictures a:hover {
  background:             #5C5C79 url(../images/magnifying_glass.gif) no-repeat top;
}

#back_to_gallery a:hover {
  color:                  #8585CC;
}

#big_picture a#next:active span, #big_video a#next:active span {
  background-image:       url(../images/arrow_next_active.gif);
}

#big_picture a#next:hover span, #big_video a#next:hover span {
  background-image:       url(../images/arrow_next_hover.gif);
}

#big_picture a#previous:active span, #big_video a#previous:active span {
  background-image:       url(../images/arrow_previous_active.gif);
}

#big_picture a#previous:hover span, #big_video a#previous:hover span {
  background-image:       url(../images/arrow_previous_hover.gif);
}

#big_video label span, #selected_pictures a.remove_picture:hover, #facebox {
  background:             none;
}

#footer a:hover {
  color:                  #8585CC;
}

#go_back_to_thumbnails:hover{
  background:             transparent url(../images/arrow_left_hover.gif) no-repeat left center;
}

#header li a:hover, #header li a:focus {
  color:                  #A7A7F9;
}

#header h1#logo_screen a, h1#logo_screen a:visited, #header h1 img, .pages a:hover, .pages a.previous:hover, .pages a.next:hover {
  color:                  #FFF;
}

#see_data_sheet:hover {
  background:             transparent url(../images/arrow_down_hover.gif) no-repeat left center;
}

#subnavigation a:hover, #see_data_sheet a:hover {
  color:                  #8585CC;
}

#summary a, a:visited {
  color:                  #7B7BA4;
}

#summary a:hover {
  color:                  #8585CC;
}

#tags a, #tags a:visited {
  color:                  #7B7BA4;
}

#tags a:hover {
  color:                  #FFF;
  background-color:       #44445D;
}

.email_field_with_errors, .email_field_with_errors:hover, .email_field_with_errors:focus {
  color:                  #FFF;
  background:             #F88181;
  border-color:           #770000;
}

.application #main_content ul li a, .application #main_content ul li a:visited, #valid_search_suggestions a, #go_to_selection a:link, #go_to_selection a:visited, .go_to_checkout a {
  color:                  #7B7BA4;
}

#go_to_selection a:hover {
  color:                  #8585CC;
  background:             url(../images/select_pictures_hover.gif) no-repeat top left;
}

.application #main_content ul li a:hover, #valid_search_suggestions a:hover, .go_to_checkout a:hover {
  color:                  #8585CC;
}

.pages a, .pages a:visited, .pages a.previous:visited, .pages a.next:visited, .pages a.previous, .pages a.next {
  color:                  #DBDBDB;
  background-color:       #3B3B48;
}

.pages a.next:hover, .pages a:hover {
  color:                  #DBDBDB;
  background-color:       #5C5C79;
}

.pages a.previous:hover {
  color:                  #DBDBDB;
}

#thumbnails a:hover img {
  color:                  #FFF;
}

#thumbnails a:hover label {
  color:                  #FFF;
}

#thumbnails li div a:visited {
  background:             url(../images/thumbnail_box_visited.gif);
}

#thumbnails li div a:hover, #thumbnails li div a:focus {
  background:             url(../images/thumbnail_box_hover.gif);
}

.submitting, .submitting:hover {
  background:             #33335A url(../images/spinner_form.gif) no-repeat 95% center;
  border-color:           #424273;
}

#big_picture img {
  border-color:           #44445D;
}



/* Exclusivo */
#header li.current a {
	color:                  #F498DA;
}

#header li a:active {
  color:                  #EF72CC;
}

#data_sheet dl a, #searched_item, .text dt, .text #main_content strong {
  color:                  #F498DA;
}

h3 a, h3 a:visited {
  color:                  #EF72CC;
}
a:focus, h3 a:hover, h3 a:focus, #data_sheet dl a:hover {
  color:                  #F498DA;
}

.submitting, .submitting:hover {
  color:                  #F498DA;
}

#big_picture img {
  color:                  #F498DA;
}

.text #main_content h2, 
.application #main_content h2 {
  color:                  #EF72CC;
}


/*
#EF72CC (rosa escuro)
#F498DA (rosa luminoso)
*/