/* Cores:
#000    - Preto
#111    - Cinza quase preto (ou pouco mais escuro que #16161F)
#DBDBDB - Cinza claro (parecido com #D9D9D9)
#9E9EE7 - Azul lavanda claro para médio
#33335A - Azul marinho
#424273 - Azul marinho claro (parecido com #404070)
#B6B6FF - Azul lavanda claro (button:hover)
#404070 - Azul marinho claro (parecido com #424273) (button:hover)
#ABABC3- Cinza azulado claro (parecido com #A5A5CB)
#F498DA - Rosa vivo claro
#EF72CC - Rosa vivo médio (h3, h3 a:hover, a:focus, #data_sheet dl a:hover)
#6C6CB1 - Azul lavanda escuro (h4, h4 a, h4 a:visited)
#7676DC - Azul lavanda médio (h4 a:focus, h4 a:hover)
#FFF    - Branco
#CCC    - Cinza claro para médio (input, textarea)
#2A7B8E - Azul piscina escuro (.pages a)
#D9D9D9 - Cinza claro (parecido com #DBDBDB) (.pages strong; #thumbnails label)
#16161F - Cinza azulado quase preto (ou pouco mais claro que #111) (#toc, pre; code, .text th; .text table *)
#292938 - Azul marinho escuro (#main_content)
#7B7BA4 - Azul lavanda escuro desbotado (parecido com #7575A8)
#6849C1 - Azul lavanda médio para escuro (#big_picture img)
#4A4A5F - Cinza azulado escuro (parecido com #48485E) (#big_picture img; #big_picture label)
#D3D3D3 - Cinza claro (ligeiramente mais escuro que #D9D9D9 ou #DBDBDB) (#big_picture label; #tags h3)
#5C5C79 - Cinza azulado médio (#cart_items; #all_pictures a:hover, #cart_items a:hover, #selected_pictures a:hover)
#48485E - Cinza azulado escuro (parecido com #4A4A5F) (#cart_items.instructions)
#3B3B48 - Cinza azulado escuro principal (borders: #header; #main_content; #main_content h1; #footer; pre, #toc)
#7575A8 - Azul lavanda escuro desbotado (parecido com #7B7BA4) (#footer a)
#A5A5CB - Cinza azulado claro (parecido com #ABABC3) (#footer p, #footer h6, #footer strong; #global_search #query)
#181831 - Azul quase preto (#global_search #query)

#6d6da2
#d7d7d9
#F6F0DB - Bege claro (do site da Pati!)
#f88181
#a31212

#770000 - (#submit_error)
#faefb3
#ffcc66
#cc6600
#17171f
#383849
#8585cc
#9898d2
#a7a7f9
#8585cc
#8585cc
#8585cc
#7c7c9e
#44445d
#af464a
#8585cc
#333344
#cacaca
#4a4a63
#d587ef

*/

html {
  background:           #111 url(../images/site_hatching.gif) repeat-x left top;
}

html *, label {
  color:                #DBDBDB;
}

button {
  color:                #9E9EE7;
	background-color:     #33335A;
  border-color:         #424273;
}

button:hover {
  color:                #b6b6ff;
  background-color:     #404070;
}

h1, h2 {
  color:                #ababc3;
}

h3 {
  color:                #ababc3;
}
h3, h3 a, h3 a:visited {
  color:                #f498da;
}
h3, h3 a:hover, a:focus, #data_sheet dl a:hover {
  color:                #ef72cc;
}

h4, h4 a, h4 a:visited {
  color:                #6c6cb1;
}

h4 a:focus, h4 a:hover {
  color:                #7676dc;
}

input, textarea {
  background:           #fff;
  border-color:         #CCC;
  color:                #111;
}

input:active, input:focus, textarea:active, textarea:focus {
  background:           #fff url(../images/bg_input_on.gif) repeat-x bottom;
  border-color:         #000;
}

input:hover, textarea:hover {
  background:           #fff;
  border-color:         #000;
}

.application #main_content h2 {
  background:           url(../images/error_404.gif) no-repeat center;
}

.application#server_error #main_content h2 {
  background-image:     url(../images/error_500.gif);
}

.application#timeout #main_content h2 {
  background-image:     url(../images/error_timeout.gif);
}

.go_to_checkout {
  background:           transparent url(../images/shopping_cart.gif) no-repeat right center;
}

.moved_to_cart {
  opacity:              .3;
}

.pages a {
  color:                #2a7b8e;
}

.pages strong {
  background:           #d9d9d9;
  color:                #000;
}

.text table * {
  border-color:         #16161F;
}

.text td span {
  color:                #888;
}

code, .text th {
  background:           #16161F;
  color:                #FFF;
}

#all_pictures label, #cart_items label, #selected_pictures label {
  color:                #fff;
}

#all_pictures li label, #all_pictures li a, #cart_items label, #cart_items a, #selected_pictures label, #selected_pictures a {
  background-color:     #292938;
}

#back_to_gallery a {
  color:                #7b7ba4;
}

#big_picture #next span, #big_video #next span {
  background:           transparent url(../images/arrow_next.gif) no-repeat center left;
}

#big_picture a span, #big_video span {
  background:           transparent url(../images/arrow_previous.gif) no-repeat center right;
}

#big_picture img {
  color:                #6849c1;
  border-color:         #4A4A5F;
}

#big_picture label {
  background:           #292938;
  color:                #d3d3d3;
  border-color:         #4a4a5f;
}

#cart_items {
  background-color:     #292938;
  border-color:         #5c5c79;
}

#cart_items.instructions {
  background:           #48485e url(../images/selection_instructions.gif) no-repeat center center;
}

#data_sheet dl a, #searched_item, .text dt, .text #main_content strong {
  color:                #f498da;
}

#data_sheet li {
  color:                #fff;
}

#facebox * {
  background:           transparent url(../images/facebox_bg.gif) top left;
}

#facebox a {
  background-position:  top right;
  color:                #000;
}

#facebox img {
  background-position:  bottom right;
}

#facebox p {
  background-position:  bottom left;
}

#footer {
	background:           #292938 url(../images/footer.gif) repeat-x scroll center;
	border-color:         #3B3B48;
}

#footer a {
  color:                #7575a8;
}

#footer p, #footer h6, #footer strong {
  color:                #a5a5cb;
}

#global_search {
  background:           transparent url(../images/search_corner_left.gif) no-repeat left center;
}

#global_search #query {
  background:           #181831;
  border-color:         #181831;
	color:                #A5A5CB;
}

#global_search fieldset {
  background:           transparent url(../images/search_corner_right.gif) no-repeat right center;
}

#go_back_to_thumbnails {
  background:           transparent url(../images/arrow_left.gif) no-repeat left center;
}

#go_to_gallery {
  background:           transparent url(../images/gallery_album.gif) no-repeat left center;
}

#header {
  background:           url(../images/header_shading.png) top;
  border-bottom-color:  #3b3b48;
}

#header h2#slogan {
	color:                #ABABC3;
}

#header li a {
  color:                #6d6da2;
}

#main_content {
  background:           #292938;
  border-left-color:    #3b3b48;
  border-right-color:   #3b3b48;
}

#main_content h1{
  border-bottom-color:  #3b3b48;
  color:                #d7d7d9;
}

#see_data_sheet {
  background:           transparent url(../images/arrow_down.gif) no-repeat left center;
}

#selection_size label {
	color:                #F6F0DB;
}

#go_to_selection a {
  background:           url(../images/select_pictures.gif) no-repeat top left;
}

#submit_error {
  background-color:     #f88181;
  border-color:         #a31212;
  color:                #770000;
}

#submit_success {
  background-color:     #faefb3;
  border-color:         #ffcc66;
  color:                #cc6600;
}

#subnavigation a, #see_data_sheet a {
  color:                #7b7ba4;
}

#summary, #about_us, #data_sheet, .application #main_content ul, .pages {
  background:           #17171f;
  border-color:         #000;
}

#picture_description p {
  color:                #000;
}

#tags h3 {
  color:                #d3d3d3;
}

body#selection #selection_size {
  color:                #292938;
}

body#selection #selection_size label {
  background:           url(../images/tab_selection_size.gif) no-repeat left center;
}

pre, #toc {
  background:           #16161F;
  border-color:         #3B3B48;
}

#thumbnails label {
  background:           #383849;
  color:                #d9d9d9;
}

#thumbnails li div a {
  background:           url(../images/thumbnail_box.gif);
}

#all_pictures a:hover, #cart_items a:hover, #selected_pictures a:hover {
  background:           #5c5c79 url(../images/magnifying_glass.gif) no-repeat top;
}

#back_to_gallery a:hover {
  color:                #8585cc;
}

#big_picture a#next:active span, #big_video a#next:active span {
  background-image:     url(../images/arrow_next_active.gif);
}

#big_picture a#next:hover span, #big_video a#next:hover span {
  background-image:     url(../images/arrow_next_hover.gif);
}

#big_picture a#previous:active span, #big_video a#previous:active span {
  background-image:     url(../images/arrow_previous_active.gif);
}

#big_picture a#previous:hover span, #big_video a#previous:hover span {
  background-image:     url(../images/arrow_previous_hover.gif);
}

#big_video label span, #selected_pictures a.remove_picture:hover, #facebox {
  background:           none;
}

#footer a:hover {
  color:                #9898d2;
}

#go_back_to_thumbnails:hover{
  background:           transparent url(../images/arrow_left_hover.gif) no-repeat left center;
}

#header li a:visited {
  color:                #6d6da2;
}

#header li a:hover, #header li.current a:hover {
  color:                #a7a7f9;
}

#header li.current a {
	color:                #F498DA;
}

#header h1#logo_screen a, h1#logo_screen a:visited, #header h1 img, .pages a:hover, .pages a.previous:hover, .pages a.next:hover {
  color:                #FFFFFF;
}

#see_data_sheet:hover {
  background:           transparent url(../images/arrow_down_hover.gif) no-repeat left center;
}

#go_to_selection a:hover {
  background:           url(../images/select_pictures_hover.gif) no-repeat top left;
  color:                #8585cc;
}

#subnavigation a:hover, #see_data_sheet a:hover {
  color:                #8585cc;
}

#summary a, a:visited {
  color:                #7b7ba4;
}

#summary a:hover{
  color:                #8585cc;
}

#tags a, #tags a:visited {
  color:                #7c7c9e;
}

#tags a:hover {
  background-color:     #44445d;
  color:                #FFF;
}

.email_field_with_errors, .email_field_with_errors:hover, .email_field_with_errors:focus{
  background:           #f88181;
  border-color:         #af464a;
  color:                #fff;
}

.application #main_content ul li a, .application #main_content ul li a:visited, #valid_search_suggestions a, #go_to_selection a:link, #go_to_selection a:visited, .go_to_checkout a {
  color:                #7b7ba4;
}

.application #main_content ul li a:hover, #valid_search_suggestions a:hover, .go_to_checkout a:hover {
  color:                #8585cc;
}

.pages a, .pages a:visited, .pages a.previous:visited, .pages a.next:visited, .pages a.previous, .pages a.next {
  background-color:     #333344;
  color:                #cacaca;
}

.pages a.next:hover, .pages a:hover {
  background-color:     #4a4a63;
  color:                #cacaca;
}

.pages a.previous:hover {
  background-color:     #333344;
  color:                #cacaca;
}

.submitting, .submitting:hover {
  background:           #33335a url(../images/spinner_form.gif) no-repeat 95% center;
  border-color:         #424273;
  color:                #f498da;
}

#header li a:active {
  color:                #d587ef;
}

#thumbnails a:hover img {
  color:                #FFF;
}

#thumbnails a:hover label {
  color:                #fff;
}

#thumbnails li div a:visited {
  background:           url(../images/thumbnail_box_visited.gif);
}

#thumbnails li div a:hover {
  background:           url(../images/thumbnail_box_hover.gif);
}