/* Style sheet with conditions for IE6. */

#thumbnails li, 
.pictures#index #thumbnails li, 
.videos#index #thumbnails li {
  margin-right:         1.7em;
  margin-left:          1em;
}

body.videos #thumbnails img {
  width:                240px;
  width:                expression(this.width > 240 ? "240px" : true);
}

#cart_items li {
  margin:               3px 2px;
}

#selection #selection_size {
  right:                32.25em;
}

#facebox a {
  padding-top:          10px;
}