/* Layout (screen) global settings */
html * {
  padding:              0;
  border-width:         0;
}

body {
  width:                62.5em;
  margin:               auto;
}

h1 {
  margin-bottom:        .7em;
}

h2 {
	margin-top:           0;
	margin-bottom:        0;
	position:             relative;
}

h3, h3 a {
  padding-top:          10px;
  margin:               0;
}

h4, h4 a, h4 a:visited {
	margin:               0;
}

h5 {
  padding:               .75em 0 .5em 0;
}

label, input, textarea, button {
  display:              block;
}

label {
  width:                29%;
  margin-top:           .2em;
  margin-right:         1em;
}

input, textarea {
  width:                40%;
  padding:              0 .3em;
  border-width:         1px;
  border-style:         inset;
  margin:               -1.25em 0 .75em 18em;
}

input.rsvp_confirmation {
  display:                inline;
  width:                  auto;
  padding:                0;
  background:             none;
  border:                 none;
  margin-top:             0;
  margin-bottom:          0;
}

#confirmation_yes, #confirmation_no {
  display:                inline;
  line-height:            3em;
}

#message_confirmation_no {
  margin-left:            3em;
}

button {
	padding:              0.2em 0.5em;
	border-width:         1px;
	border-style:         solid;
	margin:               auto;
}
button:active {
  border-style:         inset;
}

a, button * {
  outline:              none;
}

pre {
  padding:              .5em 3em;
	border-width:         1px;
	border-style:         solid;
  margin:               1em 0;
  overflow:             auto;
}

code {
  padding:              .3em .5em;
}
/* /Layout (screen) global settings */


/* Social network */
#social_network {
  text-align:             right;

  display:                block;
  padding:                3px 2px;

  background:             url(../images/header_bg.jpg) top;
}

#social_network p {
  height:                 16px;
  margin:                 0;
}

#social_network a {
  margin-left:            3px;
}
#social_network a:first-child {
  float:                  left;
  margin:                 0;

  opacity:                .4;
}
#social_network a:first-child:hover {
  opacity:                1;
}
/* /Social network */


/* Social media */
.social_media {
  padding:                          9px;
  color:                            #FFF;
  background:                       rgba(0,0,0,.8);

  margin:                           0 -10px;
}

.social_media section {
  display:                          inline-block;
  width:                            49.5%;
}

.social_media em {
  font-style:                       normal;
  font-size:                        14px;
}

.social_media a {
  text-decoration:                  none;
  color:                            #DDD;
}

.social_media iframe {
  vertical-align:                   middle;
}

@media screen and (min-width:1024px) {
  .social_media {
    padding-right:                  70px;
    padding-left:                   70px;
  }
  .social_media section {
    width:                          49.75%;
  }
}

.social_links {
  text-align:                       right;
}

.social_links a {
  display:                          inline-block;
  margin-left:                      6px;
}

.social_links img {
  width:                            32px;
  height:                           32px;
  vertical-align:                   middle;
  border-radius:                    3px;
  box-shadow:                       0 1px 1px rgba(0, 0, 0, .75);
}
/* /Social media */


/* Header */
#header, #main_content, #footer {
  padding-right:        3.9em;
  padding-left:         3.9em;
}

#header {
  height:               117px;
  min-height:           38px;
  padding-bottom:       0;
	border-width:         0 0 1px;
	border-style:         solid;
  position:             relative;
}

#header p {
  margin:               0;
}

#logo_print {
  display:              none;
}

#logo_screen {
  float:                left;
  height:               40px;
  margin:               35px 0 0 0;
}

#slogan {
	float:                left;
	margin-top:           0;
	margin-right:         49em;
}

#header ul {
  padding:              6px 12px 8px 7px;
	border-width:         1px;
	border-style:         solid;
  border-radius:        7px;
  margin:               0;
	position:             absolute;
  bottom:               19px;
  right:                0;
  max-width:            600px;
}

#header li, #header li a {
  display:              inline-block;
}

#header li a {
  padding:              1px 9px;
  margin-right:         -5px;
}

#global_search {
  padding:                4px 2px;
  border-width:           1px 1px 0 0;
  border-style:           solid;
  border-top-left-radius: 7px;
  border-top-right-radius:7px;
  position:               absolute;
  bottom:                 -15px;
  right:                  0;
}

#global_search #query {
  width:                  130px;
  padding:                2px 3px 2px 25px;
  border:                 none;
  border-radius:          4px;
  margin:                 0;
}
/* /Header */


/* Main content and subnavigation */
#main_content {
  min-height:           600px;
  padding:              3em 3.9em;
	border-width:         0 1px;
	border-style:         solid;
}

#main_content h1 {
	border-width:         0 0 1px;
	border-style:         solid;
	margin-top:           0;
}
#gallery h1 em, #search h1 em {
  display:                block;
}

#subnavigation {
  margin:               -1.85em 0 .3em 0;
}

#subnavigation a, #see_data_sheet {
  padding-top:          2px;
  padding-left:         20px;
  margin-right:         2.5em;
}

#valid_search_suggestions {
  padding-left:         23em;
  margin-top:           1.2em;
}
/* /Main content and subnavigation */


/* Summary and picture description */
#summary, #about_us, #data_sheet, .application #main_content ul, .pages {
	border-width:         1px;
	border-style:         solid;
}
#summary, #about_us, #data_sheet, .application #main_content ul {
  padding:              .65em 7.5em;
  margin-bottom:        10px;
}

#summary {
  clear:                both;
  position:             relative;
}

#gallery #summary, #picture #summary {
  min-height:           4.5em;
  height:               auto !important;
  height:               4.5em;
  padding-right:        20em;
}

.text #summary {
  margin-right:         -138px;
  margin-left:          -138px;
}

#go_to_selection {
  width:                9em;
  height:               4em;
  padding-top:          1em;
  padding-left:         85px;
  position:             absolute;
  top:                  1em;
  right:                6em;
}

#picture_description {
  padding:              .5em;
}

#picture_description p {
	margin:               0;
}
/* /Summary and picture description */


/* Paging */
.pages {
  clear:                both;
  padding:              1px 20px 3px 20px;
  margin:               5px 0;
  position:             relative;
}

.pages a, .pages strong {
  padding:              0 .25em
}

.pages a.previous {
  padding-left:         15px;
}

.pages a.next {
  padding-right:        15px;
}

.pages strong {
  position:             relative;
  top:                  .15em;
}

.second {
  bottom:               15px;
}
/* /Paging */


/* Thumbnails */
#thumbnails li, #thumbnails li div {
  width:                250px;
  position:             relative;
}

#thumbnails li {
  float:                left;
  margin:               .5em 1.6em 1.5em 1.6em;
}
.pictures#index #thumbnails li, .videos#index #thumbnails li {
  margin:               3.5em 1.6em 2em 1.6em;
}

#thumbnails li div a {
  display:              table-cell;
  width:                250px;
  height:               250px;
  vertical-align:       middle;
}
#thumbnails img {
  vertical-align:       middle;
}

#thumbnails li div a label {
  width:                auto;
  padding:              3px;
  position:             absolute;
  bottom:               8px;
  left:                 6px;
}

#thumbnails li h2 {
  position:             absolute;
  bottom:               270px;
}

body.videos #thumbnails img {
  max-width:            240px;
/*  width:                240px;*/
  max-height:           240px;
}
/* /Thumbnails */


/* Big picture, big video */
#big_picture, #big_video {
  width:                54.5em;
  min-height:             140px;
  height:                 auto !important;
  height:                 140px;
  margin-bottom:        1em;
  position:             relative;
}

#big_picture a, #big_video a {
  width:                4.75em;
  position:             absolute;
  top:                  70px;
}

#big_picture #previous, #big_video #previous {
  left:                 -2.5em;
}

#big_picture #next, #big_video #next {
  right:                -2.5em;
}

#big_picture a span, #big_video a span {
  width:                101%;
  height:               60px;
  position:             absolute;
}

#big_picture img {
  padding:              2px;
	border-width:         1px;
	border-style:         solid;
}

#big_picture label {
  width:                13%;
  padding:              3px;
	border-width:         1px 1px 0;
	border-style:         solid;
  position:             absolute;
  right:                43.5%;
  bottom:               5px;
  left:                 43.5%;
}

#big_video object {
  max-width:            800px;
  max-height:           450px;
}

#big_video label {
  display:              block;
  width:                auto;
  margin:               .25em auto 0 auto;
}

#big_video label span {
  display:              block;
}

#big_video object p {
  margin:               1.5em 10em;
}

#big_video object a {
  position:             static;
}
/* /Big picture, big video */


/* Tags */
#tags {
  margin:               .6em 0;
}

#tags h3 {
  display:              inline;
  padding:              1px 4px;
  margin-right:         .7em;
}

#tags p, #tags a {
  display:              inline;
  margin-right:         .7em;
}

#tags a {
  padding:              0px 3px;
}
/* /Tags */


/* Data sheet */
#data_sheet {
  clear:                both;
  padding-top:          0;
  padding-bottom:       1.5em;
}

#data_sheet h2 {
  margin:               1.5em 0 1em 0;
}

#data_sheet dt {
  float:                left;
  clear:                left;
  margin-right:         .5em;
}
/* /Data sheet */


/* Selection */
#selection #main_content h1 {
  float:                left;
}

#all_pictures {
  float:                left;
  width:                31em;
  margin:               5px 0 -3.5em 0;
  position:             relative;
  z-index:              3;
}

#cart_items {
  width:                20.25em;
  min-height:           405px;
  height:               25.3em;
	border-width:         1px;
	border-style:         solid;
  margin-top:           .75em;
  margin-left:          34.35em;
  position:             relative;
  z-index:              2;
}

#all_pictures li, #cart_items li, #selected_pictures li {
  float:                left;
  width:                75px;
  height:               75px;
  margin:               3px;
  position:             relative;
}
#selected_pictures li {
  margin:               3px 2px;
}

#all_pictures li a, #cart_items a, #selected_pictures a, 
#all_pictures label, #cart_items label, #selected_pictures label {
  margin:               0;
  position:             absolute;
  bottom:               1px;
}

#all_pictures li a, #cart_items a, #selected_pictures a {
  width:                17px;
  height:               20px;
  right:                1px;
}
#selected_pictures a.remove_picture {
  position:             static;
}

#all_pictures label, #cart_items label, #selected_pictures label {
  width:                auto;
  padding:              1px 3px;
  left:                 1px;
}

#selection #selection_size {
  float:                right;
  margin-right:         -25em;
  position:             relative;
  top:                  1em;
  right:                38.4em;
  z-index:              1;
}

#selection_size label, 
#search #search_result_count label {
  display:              inline;
  margin:               0;
}
#selection #selection_size label {
  padding:              .34em 1.5em .35em .8em;
  margin-left:          3em;
  visibility:           visible;
}

.cart-active, .move {
  cursor:               move;
}

.go_to_checkout {
  min-height:           40px;
  height:               auto !important;
  height:               2.5em;
  padding:              15px 75px 0 0;
  margin:               .5em 0 -.6em 40em;
}

#first.go_to_checkout {
  position:             relative;
  bottom:               1.2em;
}

#selected_pictures {
  margin-left:          0;
}

#back_to_gallery a {
  display:              block;
  margin:               1.5em 0;
}
/* /Selection */


/* Facebox */
#facebox {
  position:             absolute;
  top:                  5em;
  z-index:              100;
}
body > #facebox {
  right:                0;
  left:                 0;
}

#facebox div {
  min-width:            50px;
  width:                50px;
  padding-top:          10px;
  margin:               auto;
}
#facebox > div {
  display:              table;
  width:                auto;
}

#facebox p {
  padding:              0 0 0 18px;
  margin:               0 0 -1px 0;
  position:             relative;
}

#facebox a {
  padding:              15px 18px 0 0;
  outline:              none;
  position:             absolute;
  top:                  -10px;
  right:                0;
}
#facebox p > a {
  left:                 10px;
}

#facebox img {
  padding:              20px 18px 18px 0;
  margin-bottom:        -3px;
}
#facebox p > img {
  margin-bottom:        -6px;
}
/* /Facebox */


/* Contact */
.submitting {
  padding-right:        2.5em;
  position:             relative;
  left:                 1em;
}
.submitting, .submitting:hover {
	border-width:         1px;
	border-style:         solid;
}

#submit_error, #submit_success {
  padding:              .5em 8em;
	border-width:         1px;
	border-style:         solid;
  margin-bottom:        1em;
  position:relative;
}

.email_field_with_errors, .email_field_with_errors:hover, .email_field_with_errors:focus {
	border-width:         1px;
	border-style:         solid;
}
/* /Contact */


/* Footer */
#footer {
	height:               150px;
	padding:              35px 3.9em 0 3.9em;
	border-width:         0 1px 1px;
	border-style:         solid;
}

#footer p {
	margin-bottom:        .5em;
}

#beonthenet img {
  width:                95px;
  height:               22px;
  margin:               0 -4px -3px 0;
}

#footer h5 {
  margin:               2em 0 .25em 0;
}

#footer h6 {
	margin:               0;
}
/* /Footer */


/* Error pages */
p#not_found {
  margin:               2em 0 -2em 0;
  position:             relative;
  z-index:              1;
}

.application #main_content h2 {
  padding-top:          150px;
  margin:               0 0 2em 0;
}

.application #main_content ul {
  margin-top:           .5em;
}
/* /Error pages */


/* Text */
.text #main_content {
  padding-right:        200px;
  padding-left:         200px;
}

.text #main_content h1, .text #main_content h2, .text #main_content h3 {
  margin-right:         -138px;
  margin-left:          -138px;
}

.text #main_content h2 {
  clear:                left;
  padding:              1.5em 0 1em 0;
}

.text #main_content h3 {
  padding:              1em 0 .75em 0;
}

.text #main_content h4 {
  margin-top:           -.8em;
}

.text #main_content p {
  margin:               1em 0;
}

.text #main_content dd {
  margin:               0 0 1em 2.5em;
}

.text #main_content dt {
  float:                left;
  margin-right:         .5em;
}

.text #main_content dl, .text #main_content ul {
  margin:               1.6em 6em;
}

.text #main_content ul li {
  margin-bottom:        1em;
}

.text #main_content ul ul {
  margin:               0 1em;
}

.text #toc {
  float:                left;
  padding:              .75em .75em .75em 1.5em;
  border:               1px solid;
  margin:               0 2em 1em 0 !important;
}

.text table {
  border-collapse:      collapse;
  margin:               auto;
}

.text td a, .text td code {
  border:               none;
  margin:               0 -1em;
}

.text td code {
  display:              block;
  margin-top:           .75em;
}

.text td span {
  display:              block;
  border:               none;
  margin:               0 1.5em;
}

.text th, .text td {
  padding:              .5em 1.5em;
}
/* /Text */


/* Flickr e Picasa */
#main_content h5 {
  padding:            0;
  margin:             -3.25em 0 2em;
}
#gallery #main_content h5, #search #main_content h5 {
  margin:             -2.7em 0 1.1em;
}

#main_content h5 a, #big_picture cite a {
/*  display:            inline-block;*/
/*  width:              37px;*/
/*  overflow:           hidden;*/
/*  vertical-align:     bottom;*/
}

#thumbnails cite {
  display:            block;
  width:              15px;
  height:             14px;
  margin:             0;
  position:           absolute;
  right:              1px;
  bottom:             251px;
  overflow:           hidden;
}

#thumbnails cite a {
  display:            inline-block;
  padding-top:        8px;
}

#big_picture #view_on_flickr, 
#big_picture cite a {
  position:           static;
}

#big_picture cite {
  position:           absolute;
  top:                -19px;
  right:              0;
}

body #footer h6 {
  margin:             2em 0 -.5em;
}
/* /Flickr e Picasa */


/* Disappearing content */
hr, .emtpy, #thumbnails li.empty, #selected_pictures li.empty {
  display:              block;
  float:                none;
  clear:                both;
  height:               0;
  padding:              0;
  margin:               0;
  visibility:           hidden;
}