html {
  background:             #111 url(../images/site_shading.png) repeat-x left top;
}

html *, label {
  color:                  #DBDBDB;
}

button {
  color:                  #A7A7F9;
  background-color:       #33335A;
  border-color:           #424273;
}

button:hover {
  background-color:       #424273;
}

#gallery h1, #search h1 {
  color:                  #A5A5CB;
}

h2 {
  color:                  #A5A5CB;
}

h3 {
  color:                  #A5A5CB;
}


h4, h4 a, h4 a:visited, 
#thumbnails h3 a, #thumbnails a:visited {
  color:                  #7B7BA4;
}

h4 a:focus, h4 a:hover, 
#thumbnails h3 a:focus, #thumbnails h3 a:hover {
  color:                  #8585CC;
}

input, textarea {
  color:                  #111;
  background:             #FFF;
  border-color:           #DBDBDB;
}

input:hover, textarea:hover {
  background:             #FFF;
  border-color:           #111;
}

input:active, input:focus, textarea:active, textarea:focus {
  background:             #FFF url(../images/input_hover.gif) repeat-x top;
  border-color:           #111;
}

.application #main_content h2 {
  background:             url(../images/error_404.gif) no-repeat center;
}

.application#server_error #main_content h2 {
  background-image:       url(../images/error_500.gif);
}

.application#timeout #main_content h2 {
  background-image:       url(../images/error_timeout.gif);
}

.go_to_checkout {
  background:             transparent url(../images/shopping_cart.gif) no-repeat right center;
}

.moved_to_cart {
  opacity:                .3;
}

.pages strong {
  color:                  #111;
  background:             #DBDBDB;
}

.text table * {
  border-color:           #17171F;
}

.text td span {
  color:                  #888;
}

code, .text th {
  color:                  #DBDBDB;
  background:             #17171F;
}

#all_pictures label, #cart_items label, #selected_pictures label {
  color:                  #FFF;
}

#all_pictures li label, #all_pictures li a, #cart_items label, #cart_items a, #selected_pictures label, #selected_pictures a {
  background-color:       #292938;
}

#back_to_gallery a {
  color:                  #7B7BA4;
}

#big_picture #next span, #big_video #next span {
  background:             transparent url(../images/arrow_next.gif) no-repeat center left;
}

#big_picture a span, #big_video span {
  background:             transparent url(../images/arrow_previous.gif) no-repeat center right;
}


#big_picture label {
  background:             #292938;
  border-color:           #44445D;
}

#cart_items {
  background-color:       #292938;
  border-color:           #5C5C79;
}

#cart_items.instructions {
  background:             #44445D url(../images/selection_instructions.png) no-repeat center;
}

#data_sheet li {
  color:                  #FFF;
}

#facebox * {
  background:             transparent url(../images/facebox_bg.gif) top left;
}

#facebox a {
  color:                  #111;
  background-position:    top right;
}

#facebox img {
  background-position:    bottom right;
}

#facebox p {
  background-position:    bottom left;
}


#footer {
	background:             #292938 url(../images/footer.gif) repeat-x scroll center;
	border-color:           #3B3B48;
}

#footer h2, #footer h2 a, 
#footer h3 {
  color:                  #DBDBDB;
}

#footer a, #footer h2 a:hover, 
#footer #beonthenet img, 
#footer #improveit {
  color:                  #7B7BA4;
}
#footer a:hover, 
#footer #beonthenet:hover img, 
#footer #improveit:hover {
  color:                  #8585CC;
}
#footer h2 a:hover {
  color:                  #DBDBDB;
}

#footer p, #footer strong, 
#footer h6 {
  color:                  #A5A5CB;
}


#global_search {
  background:             transparent url(../images/global_search_bg.png) no-repeat right;
}

#global_search #query {
  color:                  #A5A5CB;
  background:             transparent url(../images/query.png) no-repeat center;
}

#go_back_to_thumbnails {
  background:             transparent url(../images/arrow_left.gif) no-repeat left center;
}

#go_to_gallery {
  background:             transparent url(../images/gallery_album.gif) no-repeat left center;
}

#header {
  background:             url(../images/header_bg.jpg) top;
  border-bottom-color:    #3B3B48;
}

#slogan {
  color:                  #A5A5CB;
}

#header ul {
  background:             transparent url(../images/menu_bg.png) no-repeat left;
}

#main_content {
  background:             #292938;
  border-right-color:     #3B3B48;
  border-left-color:      #3B3B48;
}

#main_content h1 {
  border-bottom-color:    #3B3B48;
}

#see_data_sheet {
  background:             transparent url(../images/arrow_down.gif) no-repeat left center;
}

#go_to_selection {
  background:             url(../images/select_pictures.gif) no-repeat top left;
}

#submit_error {
  color:                  #770000;
  background-color:       #F88181;
  border-color:           #770000;
}

#submit_success {
  color:                  #CC6600;
  background-color:       #FAEFB3;
  border-color:           #CC6600;
}

#subnavigation a, #see_data_sheet a {
  color:                  #7B7BA4;
}

#summary, #about_us, #data_sheet, .application #main_content ul, .pages {
  background:             #17171F;
  border-color:           #111;
}

#picture_description p {
  color:                  #111;
}

#tags h3 {
  color:                  #DBDBDB;
}

body#selection #selection_size {
  color:                  #292938;
}

body#selection #selection_size label {
  background:             url(../images/tab_selection_size.gif) no-repeat left center;
}

pre, #toc {
  background:             #17171F;
  border-color:           #3B3B48;
}

#thumbnails label {
  background:             #3B3B48;
}

#thumbnails li div a {
  background:             url(../images/thumbnail_box.gif);
}

#all_pictures a:hover, #cart_items a:hover, #selected_pictures a:hover {
  background:             #5C5C79 url(../images/magnifying_glass.gif) no-repeat top;
}

#back_to_gallery a:hover {
  color:                  #8585CC;
}

#big_picture a#next:active span, #big_video a#next:active span {
  background-image:       url(../images/arrow_next_active.gif);
}

#big_picture a#next:hover span, #big_video a#next:hover span {
  background-image:       url(../images/arrow_next_hover.gif);
}

#big_picture a#previous:active span, #big_video a#previous:active span {
  background-image:       url(../images/arrow_previous_active.gif);
}

#big_picture a#previous:hover span, #big_video a#previous:hover span {
  background-image:       url(../images/arrow_previous_hover.gif);
}

#big_video label span, #selected_pictures a.remove_picture:hover, #facebox {
  background:             none;
}

#go_back_to_thumbnails:hover{
  background:             transparent url(../images/arrow_left_hover.gif) no-repeat left center;
}

#header li a:hover, #header li a:focus {
  color:                  #A7A7F9;
}

#logo_screen a, #logo_screen a:visited, #header p strong img, .pages a:hover, .pages a.previous:hover, .pages a.next:hover {
  color:                  #FFF;
}

#see_data_sheet:hover {
  background:             transparent url(../images/arrow_down_hover.gif) no-repeat left center;
}

#subnavigation a:hover, #see_data_sheet a:hover {
  color:                  #8585CC;
}

#summary a, a:visited {
  color:                  #7B7BA4;
}

#summary a:hover {
  color:                  #8585CC;
}

#tags a, #tags a:visited {
  color:                  #7B7BA4;
}

#tags a:hover {
  color:                  #FFF;
  background-color:       #44445D;
}

.email_field_with_errors, .email_field_with_errors:hover, .email_field_with_errors:focus {
  color:                  #FFF;
  background:             #F88181;
  border-color:           #770000;
}

.application #main_content ul li a, .application #main_content ul li a:visited, #valid_search_suggestions a, #go_to_selection:link, #go_to_selection:visited, .go_to_checkout a {
  color:                  #7B7BA4;
}

#go_to_selection:hover {
  color:                  #8585CC;
  background:             url(../images/select_pictures_hover.gif) no-repeat top left;
}

.application #main_content ul li a:hover, #valid_search_suggestions a:hover, .go_to_checkout a:hover {
  color:                  #8585CC;
}

.pages a, .pages a:visited, .pages a.previous:visited, .pages a.next:visited, .pages a.previous, .pages a.next {
  color:                  #DBDBDB;
  background-color:       #3B3B48;
}

.pages a.next:hover, .pages a:hover {
  color:                  #DBDBDB;
  background-color:       #5C5C79;
}

.pages a.previous:hover {
  color:                  #DBDBDB;
}

#thumbnails a:hover img {
  color:                  #FFF;
}

#thumbnails a:hover label {
  color:                  #FFF;
}

#thumbnails li div a:visited {
  background:             url(../images/thumbnail_box_visited.gif);
}

#thumbnails li div a:hover, #thumbnails li div a:focus {
  background:             url(../images/thumbnail_box_hover.gif);
}

.submitting, .submitting:hover {
  background:             #33335A url(../images/spinner_form.gif) no-repeat 95% center;
  border-color:           #424273;
}

#big_picture img {
  border-color:           #44445D;
}



/* Exclusivo */
#header li.current a {
	color:                  #F498DA;
}

#header li a:active {
  color:                  #EF72CC;
}

#data_sheet dl a, #searched_item, .text dt, .text #main_content strong {
  color:                  #F498DA;
}

h3 a, h3 a:visited, 
#thumbnails h2 a, #thumbnails h2 a:visited {
  color:                  #EF72CC;
}
a:focus, h3 a:hover, h3 a:focus, 
#thumbnails h2 a:hover, #thumbnails h2 a:focus, 
#data_sheet dl a:hover {
  color:                  #F498DA;
}

.submitting, .submitting:hover {
  color:                  #F498DA;
}

#big_picture img {
  color:                  #F498DA;
}

.text #main_content h2, 
.application #main_content h2 {
  color:                  #EF72CC;
}


/*
#EF72CC (rosa escuro)
#F498DA (rosa luminoso)
*/