/* Style sheet with conditions for IE6. */

#thumbnails li, 
.pictures#index #thumbnails li, 
.videos#index #thumbnails li {
  margin-right:         1.7em;
  margin-left:          1em;
}

body.videos #thumbnails img {
  width:                240px;
  width:                expression(this.width > 240 ? "240px" : true);
}

#cart_items li {
  margin:               3px 2px;
}

#selection #selection_size {
  right:                31em;
}

#facebox a {
  padding-top:          10px;
}


/* Flickr e Picasa */
#thumbnails cite a, #thumbnails cite a:hover {
	filter:                 alpha(opacity=30);
}
#thumbnails cite a:hover {
	filter:                 alpha(opacity=100);
}

#thumbnails cite.flickr a, #thumbnails cite.flickr a:hover {
  background-image:       url(../images/flickr_ie6.png);
}
#thumbnails cite.picasa a, #thumbnails cite.picasa a:hover {
  background-image:       url(http://beonthe.net/accounts/beonthe.net/images/icon_picasa_ie6.png);
}
/* /Flickr e Picasa */